$yellow : #ffcc00;

html {
  text-align: center;
}

.container {
  width: 100%;
  height: 100vh;
}

.answer {
  margin: 5vh;
  padding: 5vh 5vw;
  background-color: #f3f3f3;
}

.gen_btn {
  margin: auto;
  width: 50vh;
  padding: 20px;
  min-width: 100px;
  background-color: $yellow;
  border: none;
  
  &:hover{
    background-color: adjust-hue($yellow, -2.5deg);
  }
  &:disabled {
    background-color: lighten($yellow, 15%);
  }
}

.lang_btn {
  margin: auto;
  padding: 4px;
  min-width: 40px;
  background-color: transparent;
  border: none;
  font-size: 0.8em;
  text-decoration: none;
  color: black;
  
  &:focus{
    outline: none;
  }
}
